<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/index.css">

<!-- </div> -->

<!-- 
<!-- <h1>All Destinations</h1> -->
<!-- <div> -->
    <!-- <a href="/restaurants/new">Add Restaurant</a> -->
<!-- </div> -->
<!-- <ul> -->
    <h1>Restaurants</h1><br>
    <div id="list"></div>
    <% for(let restaurant of restaurants){%> 
            <!-- <div class="grid-container">
                <div class="grid-item">
                    <a class="" href="/restaurants/<%= restaurant._id%>">
                    <% if(restaurant.images.length) {%> 
                        <img class="img-fluid" alt="" src="<%= restaurant.images[0].url%>">
                    <%}else {%>
                        <img class="img-fluid" alt="" src="https://res.cloudinary.com/diyscwbit/image/upload/v1616073543/Camping-Grounds/behhnatqgsz8ipxuagsw.jpg">
                    <%}%>
                    </a>
                    <!-- <a class="btn btn-primary" href="/restaurants/<%= restaurant._id%>">View Restaurant </a>      
                    <p><%= restaurant.title %> </p>
                </div> -->
                <!-- <div>
                    <p class=""><%= restaurant.title %> </p>
                </div> -->
                <!-- <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= restaurant.title %> </h5>
                        <p class="card-text"><%=restaurant.description %></p>
                        <p class="card-text">Open Hours: <%=restaurant.active %></p>
                        <p class="card-text"><small class="text-white"><%= restaurant.location%></small></p>
                        <a class="btn btn-primary" href="/restaurants/<%= restaurant._id%>">View Restaurant </a>
                    </div>
                </div> -->
            </div>
    <%} %>
<!-- </ul> -->
<div id="pl" class="justify-content-center">
    <button id="prev" class="btn btn-secondary" onclick="previousPage()">Previous</button>
    <span id="page" style="color:snow;"></span>
    <button id="next" class="btn btn-secondary" onclick="nextPage()">Next</button>
</div>

<script>
    const restaurants = <%-JSON.stringify(restaurants) %>;
</script>
<script src="/javascripts/page.js"></script>